html,body{height:100%;}

#root{
  height: 100%;
}

.CodeMirror{
  height: 100%;

}

.react-codemirror2{
  height: 100%;  
}

.resizer{
  cursor: row-resize !important;; 
  background-color: black;
  height: 10px;
}